{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for n in range (length) %}
            <tr>
                <td>{{transaction[n]["symbol"]}}</td>
                <td>{{transaction[n]["shares"]}}</td>
                <td>{{transaction[n]["price"]}}</td>
                <td>{{transaction[n]["transacted"]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
